<p>Paste link</p>

<input type="text" [(ngModel)]="link" placeholder="link to download" />
<input type="number" [(ngModel)]="threads" placeholder="threads count limit" />
<input type="number" [(ngModel)]="bytes" placeholder="bytes per second limit" />

<select [(ngModel)]="unit">
    <option value="0">Mbit</option>
    <option value="1">Kbit</option>
</select>
<input type="button" class="btn" (click)="start()" value="Click Me" [disabled]="!link || !threads || bytes == null" />

<hr/>
<p style="color: red">{{ exception }}</p>

{{ speed }}

<br/>

<pre>{{ files }}</pre>